* {
    clear: both;
}

.content img {
    float: left;
    margin: 30px 40px;
    border: 1px solid green;
}
/*

.time {
    padding-left: 60px;
}
*/

.content {
    width: 500px;
    height: 250px;
    border: 2px solid blue;
    background-color: #baf669;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 5px #5E7D7E;
/*    margin: auto;*/
}

.table {
    float: right;
    margin-left: 70px;
}

.prog {
    padding-top: 20px;
}
